*
{
	margin: 0;
	padding: 0;
}

body  {
	width: 100%;
	background: linear-gradient(to right,red,yellow,green,blue,purple,red);
	background-size: 400%;
	animation: 10s nict linear infinite;
}
@keyframes nict
{
	0%
	{
		background-position: 0%;
	}
	100%
	{
		background-position: 400%;
	}

}

div{
	display: inline-block;
	width: 200px;
	margin: 5px;
	border: 2px solid gray;
	margin-top: 50px;
	margin-left: 20px;
}


img{
	width: 200px;
	height: 170px;
}

p{
	text-align: center;
	padding: 10px;
}
a
{
	background: orange;
	font-size: 25px;
	margin-left: 40px;
	margin-top: 39px;
	border-radius: 15px;
	width: 150px;
	height: 30px;
	text-decoration: none;
}
button:hover{
	background: blue;
}